# Blender
Models/*.blend1
Models/*.obj
Models/*.mtl

# CMake
**/CMakeFiles/
**/cmake_install\.cmake
**/CMakeCache\.txt
**/Makefile

# CLion
Engine/.idea/**/workspace.xml
Engine/.idea/**/tasks.xml
Engine/.idea/dictionaries
Engine/.idea/vcs.xml
Engine/cmake-build-debug/

# Visual Studio
.vs/

# Conan
Engine/conanbuildinfo\.cmake
Engine/conanbuildinfo\.txt
Engine/conaninfo\.txt

# Output
Engine/bin/
*.cbp
*.a
Engine/\.vscode/
Engine/_CPack_Packages/

Engine/CPackConfig\.cmake

Engine/CPackSourceConfig\.cmake

Engine/install_manifest\.txt

build/

Engine/lib/oculus/LibOVR/\.vscode/

Engine/Engine.dir/

Engine/lib/tiny.dir/Debug/

Engine/lib/INSTALL.vcxproj

Engine/lib/INSTALL.vcxproj.filters

Engine/lib/PACKAGE.vcxproj

Engine/lib/PACKAGE.vcxproj.filters

Engine/lib/tiny.lib

Engine/lib/tiny.pdb

Engine/lib/tiny.vcxproj

Engine/lib/tiny.vcxproj.filters

Engine/x64/

Engine/ALL_BUILD.vcxproj

Engine/ALL_BUILD.vcxproj.filters

Engine/conan.lock

Engine/copy_resources.vcxproj

Engine/copy_resources.vcxproj.filters

Engine/Engine.sln

Engine/Engine.vcxproj

Engine/Engine.vcxproj.filters

Engine/graph_info.json

Engine/INSTALL.vcxproj

Engine/INSTALL.vcxproj.filters

Engine/PACKAGE.vcxproj

Engine/PACKAGE.vcxproj.filters

Engine/ZERO_CHECK.vcxproj

Engine/ZERO_CHECK.vcxproj.filters
